# Ignore node_modules directories
**/node_modules

# Ignore build output directories
**/dist
**/build
**/.next

# Ignore log files and temporary files
*.log
*.tmp
*.swp

# Ignore dependency lock files to avoid unnecessary rebuilds if not needed
#client/yarn.lock
#server/yarn.lock

# Ignore any other local configuration or environment files
.env
*.local

# Ignore editor config files
.vscode/
.idea/

# Ignore Dockerfile and docker-compose configurations if not needed for the final image
Dockerfile*
docker-compose*.yml

# Ignore test files if you don't need them in the final image
**/tests
**/test
**/*.test.js
**/*.test.ts
